<div>
  <div class="container my-5 mt-5">
    <div class="row d-flex align-items-center justify-content-center">
      <!-- Imagen -->
      <div class="col-sm-0 col-md-4 d-flex justify-content-center">
        <div>
          <img src="./assets/images/img_psonrie.png" alt="" loading="lazy">

          <h6 class="mt-3 d-none d-md-block">
            TU PSICÓLOGO ONLINE AL INSTANTE
            Comienza el viaje a tu mejor sonrisa.
            ¡El cambio empieza ahora!
          </h6>
        </div>
      </div>

      <!-- Ingreso -->
      <div class="col-11 col-sm-5 d-block mt-5">
        <div>
          <h2>Ingresa a tu Portal</h2>
          <hr class="brand-line mt-3">
        </div>

        <div class="mt-5 col-12 col-sm-10 pl-0">
          <form #authForm="ngForm" (submit)="authUser()">
            <div class="form-group">
              <label for="exampleInputDoc">Username</label>
              <div class="input-group border-bottom">
                <span>
                  <div class="input-group-text bg-transparent border-0">
                    <i class="far fa-user fa-lg"></i>
                  </div>
                </span>

                <input type="text" class="form-control border-0" id="exampleInputUser" [(ngModel)]="user.username"
                  name="userControl">
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword">Password</label>
              <div class="input-group border-bottom">
                <span>
                  <div class="input-group-text bg-transparent border-0">
                    <i class="fas fa-lock fa-lg"></i>
                  </div>
                </span>

                <input type="password" class="form-control border-0" id="exampleInputPassword"
                  [(ngModel)]="user.password" name="passControl">
              </div>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block mt-4 text-center" [disabled]="false">
              {{ !load ? 'Login' : '' }}
              <span *ngIf="load" class="spinner-border noload" role="status" aria-hidden="true"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>