.shadow {
  box-shadow: 0 0.3rem 0.7rem 0 rgba(0, 40, 80, 0.11) !important;
}

.input-group > input:focus {
  box-shadow: none;
  -webkit-shadow: none;
}
.input-group:focus-within {
  box-shadow: 0 4px 2px -2px var(--secondary-color);
  -webkit-box-shadow: 0 4px 2px -2px var(--secondary-color);
  -moz--box-shadow: 0 4px 2px -2px var(--secondary-color);
}
